<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Distilled, <%= @user.name %></h1>
    <p>
     Please click on this link to verify your email.
    </p>
  </body>
</html>
